[user]
	email = nikola.pavlov1955@gmail.com
	name = Nikola Pavlov
[merge]
    tool = splice
[mergetool "splice"]
    cmd = "nvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
[alias]
    a = add
    s = status --short
    br = branch
    co = checkout
    cm = commit
    last = log -1 HEAD
	log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
[safe]
	directory = /mnt/core/home/n.pavlov/easypay_core
	directory = /mnt/web/home/n.pavlov/easypay_web
